.chart {
  margin: 1rem auto;
}

.bar {
  text-align: center;
  margin-bottom: 3rem;
}

.block {
  display: flex;
  justify-content: space-between;
}

.inner {
  width: 40%;
}

.inner p {
  margin-bottom: 0;
}

input {
  width: 100%;
}