.app {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 80%;
  margin: 2rem auto;
}

.head {
  text-align: center;
  margin: 2rem auto;
}

.region {
  text-align: center;
  font-weight: bold;
}

.stats {
  text-align: center;
  margin-top: 4rem;
  font-weight: bold;
}

.source {
  text-align: center;
}