.app {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 80%;
  margin: 3rem auto;
}

.head {
  text-align: center;
  margin-top: 2rem;
}

.region {
  text-align: center;
  font-weight: bold;
}